[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "AppLib"
dynamic = ["version"]
description = "An Application Component Library (short AppLib) which makes it easy to create fancy GUIs"
readme = "README.md"
requires-python = "=3.12"
license = { file = "LICENSE" }
authors = [{ name = "TheRealMorgenfrue" }]
classifiers = [
    "Development Status :: 4 - Beta",
    "Programming Language :: Python :: 3.12",
]
dependencies = [
    "PyQt6-Fluent-Widgets==1.7.4",
    "PyQt6==6.8.1",
    "qasync==0.28.0",
    "tomlkit",
    "pydantic==2.9.2",
    "colorama",
]

[project.optional-dependencies]
dev = ["pytest", "pytest-cov", "ruff==0.14.11", "mkdocs-material"]

[project.urls]
"Homepage" = "https://github.com/TheRealMorgenfrue/AppLib"
"Bug Tracker" = "https://github.com/TheRealMorgenfrue/AppLib/issues"

[tool.hatch.version]
path = "src/applib/version.py"

[tool.ruff]
extend-exclude = []

[tool.ruff.format]
docstring-code-format = true

[tool.pytest.ini_options]
addopts = ["--import-mode=importlib"]
testpaths = ["tests/automatic"]
python_files = "test_*.py"
python_classes = "Test*"
python_functions = "test_*"
